<div class="container">
<% if params[:create] == "success" %>
  Account created successfully<br>
<% end %><p>
<% if session[:email] == nil %>
<a href="/create">Create new Account</a><br>
<br>
<br>
Login
<form action='/' method='post'>
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" name="submit">
  </form>
<% else %>
You are logged in as <%= session[:email] %>
<p>THIS IS THE SECRET PAGE</p>
<br><br><a href="/logout">Log Out</a>
<% end %>

</div>
