<div class="container">
<% if params[:create] == "success" %>
  Account created successfully<br>
<% end %><p>

<a href="/create">Create new Account</a><br>
<br>
<br>
Login
<form action='/' method='post'>
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" name="submit">
  </form>
</div>
